@model MVCLogin.Models.User

@{
    ViewBag.Title = "DashBoard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Message</h2>

@Html.DisplayFor(model => model.Email)
@Html.DisplayFor(model => model.Password)

